*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    font-size: 15px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}
#button{
    display: flex;
    justify-content: center;
}
#changeColour, #copyColour{
    border-radius: 10px;
    margin: 0 5px;
}

@media only screen and (min-width: 400px){
*{
    font-size: 1rem;
}
}


/*add home button and animation*/

#home-button{
    background-color: #146C94;
    color: #F6F1F1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    align-content: center;
    text-align: center;
    display:block;
    aspect-ratio: 1/1;
    width:min-content;
    padding: 2px;
    border-radius: 50%;
    position: fixed;
    top: 10px;
    left:10px ;
    font-size: 14px;


}

#home-button:hover {
    background-color: #19A7CE;
    color: black;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

#home-button:active{
    transform: scale(.9);
}